# MyScript
v1.0/cookie.txt
v1.0/images/*
v1.0/RAW-DATA/*
v1.0/OUTPUT-DATA/*

v2.0/cookie.txt
v2.0/images/*
v2.0/RAW-DATA/*
v2.0/OUTPUT-DATA/*

/Netflix_spizdili/
/test/*

# PHPstorm
.idea


# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk