### MyScript ###
v1.0/cookie.txt
v1.0/images/*
v1.0/RAW-DATA/*
v1.0/OUTPUT-DATA/*

v2.0/cookie.txt
v2.0/images/*
v2.0/RAW-DATA/*
v2.0/OUTPUT-DATA/*

### PHPstorm ###
.idea

/test/*

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
